<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>首页 - 秋汐实业发展（上海）有限公司</title>
<link href="bbx/images/common.css" rel="stylesheet" type="text/css" />
<link href="bbx/images/style.css" rel="stylesheet" type="text/css" />
<script src="bbx/images/main.js"></script>
<script src='bbx/images/jquery.js' type='text/javascript'></script>
<style>body{ background: #FFFFFF no-repeat;}</style>
<script src="bbx/images/common.js" type="text/javascript"></script>
<style>
.imain1,.imain2,.imain3,.imain4,.imian5 {overflow:hidden;}
</style>
</head>
<body>
<!--顶部-->
<script src="bbx/images/ubox.js"></script>

<div id="index"><div id="top_bg">
<div id="top" style="height:64px;">
	<div id="top_left">
		<div id="top1"><div id="box1d4bceef78aa022bbf156a9904146517" class="block block_logo  fakeabsolute ui-disabled" style="width:55px;height:60px;top:0px;left:0px; overflow:hidden;"><div id="logo"><table style="width:100%"><tr><td><a href='index.html'><img src='bbx/images/logo.png?1436019542'  border=0 align=absmiddle></a></td></tr></table></div></div><div class="placeholder" data-fid="134526" style="width:55px;height:60px;"></div><div id="boxc54491e00e6e2a11af80ee8a974fd51a" class="block block_text  fakeabsolute" style="width:55px;height:50px;top:14px;left:69px; overflow:hidden;"></div><div class="placeholder" data-fid="134529" style="width:55px;height:50px;"></div></div>
		<div id="top2"><span class="top2_1"></span><span class="top2_2"></span></div>
	</div>
<div id="boxd45d56e13263f8147e7c4ca401581716" class="block block_prodsearch  ui-disabled  add " style="top:3px;left:791px; overflow:hidden;z-index:110;"><div id="prodsearch"><!-- 产品搜索 -->
<input name="pkeyword" id="pkeyword" class="txt pkeyword_d5e39323dd0a7b8534af8a5043a05da2" size="20" maxlength="50" placeholder="">
<input type="button" id="psbt" class="btn" value="搜索产品" onclick="product_search_d5e39323dd0a7b8534af8a5043a05da2()">
</div>
<SCRIPT language=javascript>
function product_search_d5e39323dd0a7b8534af8a5043a05da2(){
	var kw=$('.pkeyword_d5e39323dd0a7b8534af8a5043a05da2').val();
	var sgid="";

location.href = "bbx/183841-183841.html?pkeyword="+kw+sgid;

}

$('.pkeyword_d5e39323dd0a7b8534af8a5043a05da2').val(decodeURIComponent(Request("pkeyword")));

</SCRIPT></div></div>
</div>
<div id="mainmenu_bg">
<div id="mainmenu" style="height:46px;"><div id="menu"><div id="boxcd0a367609edbff66dfe2e12d85619ff" class="block block_menu2  class='tm7 last' fakeabsolute ui-disabled" style="width:100%;height:46px;top:0px;left:0px;"><div id="menu134527" class="menu"><ul class="menu2"><li id='hot' class='tm1 first'><a href="index.html">首页</a>
</li>
<li class='tm2'><a href="bbx/183840-183840.html">关于我们</a>
<ul id="ddmenu2">
<li><a href="bbx/183840-183844.html">企业文化</a></li>
<li><a href="bbx/183840-183845.html">组织机构</a></li>
<li><a href="bbx/183840-183846.html">招贤纳才</a></li>
</ul>
</li>
<li class='tm3'><a href="bbx/183841-183841.html">项目工程</a>
</li>
<li class='tm4'><a href="bbx/183849-183849.html">国际贸易</a>
</li>
<li class='tm5'><a href="bbx/183843-183843.html">资讯中心</a>
</li>
<li class='tm6'><a href="bbx/183847-183847.html">在线留言</a>
</li>
<li class='tm7 last'><a href="bbx/183848-183848.html">联系我们</a>
</li>
</ul></div>
<script>
function startList(id) {
if (window.ActiveXObject&&!window.XMLHttpRequest) {
var navRoot = document.getElementById(id).getElementsByTagName('UL')[0];
for (i=0; i<navRoot.childNodes.length; i++) {
var node = navRoot.childNodes[i];
if (node.nodeName=="LI") {
	node.onmouseover=function(){this.className+=" over";}
	node.onmouseout=function(){this.className=this.className.replace(" over", "");}
}
}
}
}
startList("menu134527");
</script>
</div><div class="placeholder" data-fid="134527" style="width:1000px;height:20px;"></div></div></div>
</div><div id="banner_bg">
<div id="banner"><div id="banner1"><div id="box9b60fc15f45244252918c1ab18c82eb5" class="block block_picture  fakeabsolute ui-disabled" style="width:1000px;height:315px;top:0px;left:0px; overflow:hidden;"><table width="100%" height="100%" cellpadding="0" cellspacing="0"><tr><td align=""><img border="0" src="bbx/upimages/hengfu1.jpg"  width="1000"  style=""  /></td></tr></table>
<input type="hidden" id="134539" value="bbx/upimages/hengfu1.jpg" />
</div><div class="placeholder" data-fid="134539" style="width:1000px;height:315px;"></div></div></div>
</div>
<!--内容-->
<div id="container_bg" >
<div id="container" style="height:278px;">
	<span class="in_t"></span>
	<div class="inner">
	<div class="imain1"></div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="imain2">
		<tr>
			<td class="s_a box_slide" valign="top"></td>
			<td class="s_b box_slide" valign="top"></td>
			<td class="s_c box_slide" valign="top"></td>
			<td class="s_d box_slide" valign="top"></td>
		</tr>
	</table>
	<div class="imain3"></div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="imain4">
		<tr>
			<td class="s_e box_slide" valign="top"><div id="box556e8817affe4ddbf0264d30aff8e99b" class="block block_piclist  fakeabsolute ui-disabled  div_center" style="width:354px;height:278px;top:0px;left:0px; overflow:hidden;">
<div class="bx1" >
<h3 class="bx1_t bx_t"><span class="l bx1_t1"><font>最新产品 NEW</font></span><span class="r bx1_t2"><font></font></span></h3>
<div class="bx1_c bx_c">
	<div class="content"><style>
.carousel img {border:0;}
.carousel .anim134541 {text-align:center;overflow:hidden;}
.carousel p{text-align: center;}
.carousel li {position:relative;}
.jc134541 a.prev,
.jc134541 a.prev:hover,
.jc134541 a.next,
.jc134541 a.next:hover {background-image: url(bbx/images/imageNav4.png); background-repeat:no-repeat; display:block; text-decoration:none; width:30px; height:80px; outline:none;}
.jc134541 a.prev {background-position:0 center;}
.jc134541 a.prev:hover {background-position:-60px center;}
.jc134541 a.next {background-position:-120px center;}
.jc134541 a.next:hover {background-position:-180px center;}

.pic_center{margin:0 auto;}
.pic_left{text-align:left !important;}
.pic_right{text-align:right !imporant;float:right}
</style>
<script>
  $(function(){
    var $jc = $('.jc134541');
    var width = $('img:first', $jc).attr('width');
    if(width && width.indexOf('%')>0){
      width = parseInt(width);
      if(isNaN(width)) width = $jc.width();
      else width = $jc.width()*width*0.01
      $('img', $jc).attr('width', width-60);
    }

    if(!window.isJC){
		//in Here a
      $.getScript("bbx/images/jcarousellite.js", function(){
        $("#anim134541").jCarouselLite({auto:3000, speed:500, visible:2, scroll:2});
      window.isJC = true;
      });
    }else{
      $(function() {$("#anim134541").jCarouselLite({auto:3000, speed:500, visible:2, scroll:2});});
    }
  });
</script>
<table class="carousel jc134541" cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr><td><a class="prev" href="#">&nbsp;</a></td>
	<td>
		<div id="anim134541" class="pic_center"><ul>
<li><img title="大金家用分体机" src="bbx/upimages/12315.jpg" alt="大金家用分体机"/><p>大金家用分体机</p></li>
<li><img title="VRV 系列中央空调" src="bbx/upimages/12314.jpg" alt="VRV 系列中央空调"/><p>VRV 系列中央空调</p></li>
<li><img title="大金家用多联机" src="bbx/upimages/12318.jpg" alt="大金家用多联机"/><p>大金家用多联机</p></li>
<li><img title="大金高静压柜机" src="bbx/upimages/12317.jpg" alt="大金高静压柜机"/><p>大金高静压柜机</p></li>
<li><img title="大金全热交换器" src="bbx/upimages/13316.jpg" alt="大金全热交换器"/><p>大金全热交换器</p></li>
		</ul></div>
	</td>
	<td><a class="next" href="#">&nbsp;</a></td></tr>
</table></div>
	<div class="more2"><span><a href="bbx/183841-183841.html">>>点击查看全系列产品</a></span></div>
</div>
<div class="bx1_b bx_b"><span class="r bx1_b2"></span></div>
</div></div><div class="placeholder" data-fid="134541" style="width:364px;height:253px;"></div></td>
			<td class="s_f box_slide" valign="top"><div id="box18c7f40b4941bffa58f88cf745898654" class="block block_news  fakeabsolute ui-disabled" style="width:338px;height:247px;top:0px;left:374px; overflow:hidden;"><div class="bbx1" >
<h3 class="bbx1_t bx_t"><span class="l bbx1_t1"><font>资讯中心</font></span><span class="r bbx1_t2"><font><a href="bbx/183843-183843.html"><img src="bbx/images/more.gif" /></a></font></span></h3>
<div class="bbx1_c bx_c">
	<div class="content">
<div id="e7c26e48b7ee853cbf5e49de5d800745">
<script language="javascript">
var permission_news = getCookie('permission');
var newsid=Request("newsid");
var gid=Request("gid");
if(!gid) gid = '';//如果地址栏没有gid
var menu=Request("menu");
var page=Request("page");
var nkeyword=Request("nkeyword");
var sngid = Request("sngid");
var page_s=Request("page_s");//新闻评论分页 2012-08-17 by Amber
document.write("<scr"+"ipt src='http://s138js.nicebox.cn/news/?newsid="+newsid+"&menu="+menu+"&page="+page+"&page_s="+page_s+"&gid="+gid+"&gids=&id=5704&newsnum=5&sort=&showtime=0&nopage=1&showat=183843-183843&showstyle=0&titlenum=0&onlylist=0&lang=0&nextalast=0&dvused=&mq=0&mqs=1000&mqh=&detail=0&detailnum=&permission="+permission_news+"&comments=&comments_num=&newspage_2="+Request('newspage_2')+"&newskey=newspage_2&showlink=1&nkeyword="+nkeyword+"&sngid="+sngid+"&showtype=&showgroup=&_write_obj=%23e7c26e48b7ee853cbf5e49de5d800745&v=6&publicDir='><\/script>");
</script>
</div>

</div>
	<div class="more2"><span></span></div>
</div>
<div class="bbx1_b bx_b"><span class="r bbx1_b2"></span></div>
</div></div><div class="placeholder" data-fid="134538" style="width:338px;height:48px;"></div></td>
			<td class="s_g box_slide" valign="top"><div id="box518fda090ff1d0921229defcd409de4e" class="block block_text  fakeabsolute ui-disabled" style="width:268px;height:249px;top:0px;left:722px; overflow:hidden;"><div class="bbx1" >
<h3 class="bbx1_t bx_t"><span class="l bbx1_t1"><font>公司简介</font></span><span class="r bbx1_t2"><font><a href="bbx/183844-183844.html"><img src="bbx/images/more.gif" /></a></font></span></h3>
<div class="bbx1_c bx_c">
	<div class="content"><img style="FILTER: ; WIDTH: 248px; HEIGHT: 69px" height="69" alt="" hspace="0" src="bbx/upimages/pkgimg/about.jpg" width="248" border="0"> <p>&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: rgb(102, 102, 102); line-height: 25px; text-indent: 32px; white-space: normal; background-color: rgb(255, 255, 255);"><font size="2">秋汐实业发展（上海）有限公司位于上海市闵行莘庄工业园区，是国内一家从事项目工程及国际贸易于一体的实业公司。<span style="color: rgb(102, 102, 102); line-height: 25px; text-indent: 32px; white-space: normal; background-color: rgb(255, 255, 255);">在项目工程方面，公司经过长期不断的技术研究，积累和发展，汇集了暖通、空调......</span></font></span></p></div>
	<div class="more2"><span></span></div>
</div>
<div class="bbx1_b bx_b"><span class="r bbx1_b2"></span></div>
</div></div><div class="placeholder" data-fid="134540" style="width:268px;height:203px;"></div></td>
		</tr>
	</table>
	<div class="imain5"></div>
	</div>
	<span class="in_b"></span>
</div>
</div>
<!--底部-->
<div id="bottom_bg">
<div id="bottom" style="height:76px;">
	<div id="bottom1"><div id="boxeb3d6a1d2004e4cc1533cd881a6475c7" class="block block_text  fakeabsolute ui-disabled" style="width:100%;height:22px;top:14px;left:0px; overflow:hidden;"><p align="center"><a href="bbx/183848-183848.html">首页</a> | <a href="bbx/183840-183844.html">关于我们</a> | <a href="bbx/183847-183847.html">在线留言</a>&nbsp;| <a href="bbx/183848-183848.html">联系<span style="line-height:1.5;">我们</span></a></p></div><div class="placeholder" data-fid="134535" style="width:1000px;height:22px;"></div></div>
	<div id="bottom2"><div id="boxc4422e2cea56506fe52d8a97b7464bfd" class="block block_text  fakeabsolute ui-disabled" style="width:1000px;height:43px;top:33px;left:0px; overflow:hidden;"><p align="center">版权所有 ©秋汐实业发展（上海）有限公司 &nbsp; 地址：上海市闵行区光华路18号1-502<br />
电话：+86-21-32519717 &nbsp; &nbsp;传真：+86-21-54305581 &nbsp; 邮箱：service@atide.com.cn</p></div><div class="placeholder" data-fid="134536" style="width:1000px;height:43px;"></div></div>
</div>
</div></div>
</body>
</html>