/*global*/
body{font:12px/1.8 Verdana,Arial,sans-serif;color:#555;}
div{margin:0 auto;}
li {list-style:none;}
a{color:#444;text-decoration:none;outline:none;}
a:hover{color:#095390;text-decoration:underline;}
.redfont{color:red}
.clear {clear:both}


/*顶部*/
#top{width:1000px;color:#666;}
#top a {color:#666;}
#top_left {width:1000px; overflow:hidden}
#top1 {float:left;}
#logo {position:absolute; top:10px;}
#top2 {float:right;padding:5px 5px 20px;}
#top2 span{padding:0 5px; float:right;}

/*友情链接*/
.flink{margin:5px 0}
.flink li{margin:2px 0; background:url(link.png) no-repeat;padding:2px 0 3px 0px;}
.flink img{padding:1px; border:1px solid #666;}
.flink br {font-size:0;}

/*购物车*/
#jscart{display:block;width:285px;height:16px;background:url(cart.gif) no-repeat left center;}
#jscart a{color:#555;line-height:20px;display:block;padding-left:22px;}
#jscart a:hover{color:#000}
/*添加到购物车*/
#addtocart{cursor:pointer;background:url(btn2.gif) center center no-repeat;border:none;color:#222}
/*当前位置*/
.homelink{display:block;margin:0 0 10px;padding:0 0 0 10px;height:33px; background:url(location.gif) no-repeat;line-height:28px; text-align:right; font-weight:600;}
.homelink a {font-weight:normal;}

/*菜单*/
#mainmenu{width:1000px;}
#mainmenu #menu {}
#menu ul {float:right;height:40px;position:relative; z-index:9999;}
#menu li {float:left; height:20px; padding:10px 0 10px 20px;text-align:center; background:url(menul.gif) left center no-repeat;}
#menu li.first {background:none;}
#menu li.over {overflow:hidden;} /*ie6 bugfix*/
#menu li a{float:left; color:#666; padding:0 6px 0 5px; height:20px; font:14px/20px 'Microsoft YaHei',SimSun,Arial,Sans-Serif;text-decoration:none}
#menu li.first a {border:none;}
#menu li a:hover,
#menu #hot a {color:#000;}
#menu li.over a {color:#0C4D8D}
/*下拉菜单*/
.menu2 li ul {display:none;}
.menu2 li:hover ul,.menu2 li.over ul{display:block;}
#mainmenu #ddmenu2{width:112px;background:none;position:absolute;padding:0;top:40px;clear:left;}
#mainmenu #ddmenu2 li{width:110px;height:25px;clear:left;background:none; padding:0;border-bottom:1px solid #1168BF;}
#mainmenu #ddmenu2 li a{color:#fff;background:#0C4D8D;width:100px;height:25px;line-height:25px;font-size:12px;text-align:center;font-weight:normal;margin:0;border:none;padding:0 5px;display:block;overflow:hidden}
#mainmenu #ddmenu2 li a:hover{background:#0F5EAC;}
#mainmenu #ddmenu2 #hot a{font-weight:blod;} /*hot下拉菜单*/

/*子菜单栏目*/
#submenu{}
#submenu li{width:100%;height:28px;float:left;line-height:28px; background:url(li.gif) 2px 0px no-repeat; overflow:hidden}
#submenu li a{padding-left:20px;}
#submenu #hot a{font-size:14px;font-weight:600;color:#CFE6FB;}
/*产品、新闻分类*/
.sidebar{width:100%;background:url(li.gif) 5px 0px no-repeat;line-height:28px;overflow:hidden}
.sidebar a{padding-left:25px;}
.sidebar a:hover{}
#left_border #hot a{color:#007D38;font-weight:600}
/*多级产品类别*/
.msidebar1,
.msidebar2,
.msidebar3, 
.msidebar4 {width:80%;padding-left:10px;line-height:30px;overflow:hidden}
.msidebar1 a,
.msidebar2 a,
.msidebar3 a,
.msidebar4 a{width:80%;display:block;border-bottom:1px dotted #ddd;overflow:hidden; text-decoration:none;}
.msidebar1 a:hover,
.msidebar2 a:hover,
.msidebar3 a:hover,
.msidebar4 a:hover {background-color:#f5f5f5;color:#c00}
.msidebar1 {float:left;}
.msidebar1 a {padding-left:25px;background:url(arrow.gif) 5px 10px no-repeat; color:#000; font-size:14px;}
.msidebar1 a:hover {color:#06f}

/* ========== layout ========== */
#index,#default {overflow:hidden}
/*主题图片*/
#banner{text-align:center;overflow:hidden; padding-bottom:18px; width:1000px;}
#banner1 {}
/*主体内容*/
#container{ width:1000px; overflow:hidden;}
#index #banner {background:#fff url(cbg-t.jpg) left bottom no-repeat;}
#index #container {background:#0C4D8D url(cbg.jpg) left top repeat-y;}
#index #bottom {background:url(bottom.jpg) no-repeat;}
#default #banner {background:#fff url(cbg-t2.jpg) left bottom no-repeat;}
#default #container {background:#0C4D8D url(cbg2.jpg) left top repeat-y;}
#default #bottom {background:url(bottom2.jpg) no-repeat;}
/*== index ==*/
.imain1,.imain2,.imain3,.imain5 {display:none}
.imain4 {}
/* 首页栏目 */
.s_e {width:355px;}
.s_f {padding-left:10px;padding-right:10px;}
.s_g {width:260px;padding-right:10px;}
/*== default ==*/
/*左边*/
.dmain1 {width:250px; float:left;padding-left:5px; color:#fff;}
.dmain1 a {color:#fff}
.dmain1 a:hover {color:#ccc;}
/*中间*/
.dmain3 {width:710px;float:right; padding:0 10px;}
/*右边*/
.dmain5 {display:none}

/*底部*/
#bottom{width:1000px; padding:25px 0 10px; text-align:center; color:#656565;}
#bottom a {color:#656565}
#bottom1 {}
#bottom2 {padding:5px 0;}

/*======================= box ==========================*/
.bx1,.bx2,.bx3,.bx4,.bbx1,.bbx2 {margin:5px 0;} /*盒子上下间距*/
.l {display:block;width:60%;float:left;}
.r {display:block;width:40%;float:right;}
.r img,.more2 img {border:none;}
/* box title font style */
.l font {font-family:'Microsoft YaHei',SimSun,Arial,Sans-Serif; color:#fff; font-size:12px;}
.r a {color:#fff}
.bx1_t1 font {padding-left:25px; color:#fff;}
.bx2_t1 font {padding-left:28px; color:#095390;}
.bx3_t1 font {padding-left:15px; color:#fff;}
.bx4_t1 font {padding-left:20px; }
.bbx1_t1 font {padding-left:28px; color:#095390;}
.bbx2_t1 font {padding-left:20px;}
/* box global background-repeat and background-position */
.bx_t .l,.bx_t .r,.bx_b,.bx_b .r {background-repeat:repeat-x;}
.bx_t .r,.bx_b .r {background-position:right 0;}
.bx_c {background-repeat:repeat-y;}

/* 边栏1 */
#index .bx1 {margin-bottom:0;}
.bx1,.bx1 a {color:#fff}
.bx1_t1,.bx1_t2 {height:28px;line-height:28px}
.bx1_c {}
.bx1_b,.bx1_b2 {}
.bx1 .more2 {margin:10px 20px 5px 0;}
.bx1 .more2 a {color:#389CD0}
/* 边栏2 */
.bx2 {margin-bottom:10px; margin-top:0 }
.bx2_t1,.bx2_t2 {background-image:url(bx2_t.gif);height:32px;line-height:32px}
.bx2_c {padding:5px}
.bx2_b,.bx2_b2 {}
/* 边栏3 */
.bx3{}
.bx3_t1,.bx3_t2 {height:28px;line-height:28px}
.bx3_c {padding:10px;}
.bx3_b,.bx3_b2 {}
/* 主区域边框 */
.bbx1{}
.bbx1_t1,.bbx1_t2 {background-image:url(bbx1_t.gif);height:28px;line-height:28px}
.bbx1_c {padding:5px 10px;}
.bbx1_b,.bbx1_b2 {}
/* 无标题边框 */
.bbx2_t {display:none}
.bbx2_c {padding:5px 10px; font-size:14px; line-height:2;}
.imain1 .bbx2_c,.dmain1 .bbx2_c {font-size:12px; line-height:1.8;} 
.bbx2_b {}

/*==================================================*/
/*产品展示全局样式*/
#ps1,#ps2,#ps3,#ps4,#ps5,#ps6,#ps7,#ps8,#ps9,#ps10 {margin:10px 10px 13px 10px;width:146px;overflow:hidden}
#ps0,.p_name,.p_group,.p_detail,.p_price,.p_vip,.p_link,.p_cart {display:block;}
#p_img {width:142px;height:107px;}
#p_img a{display:block;width:140px;height:105px;overflow:hidden;text-align:center;border:1px solid #333;}
#p_img a:hover{}
#p_img img{height:105px;}
#p_info {padding:2px 5px 6px 5px}
#p_info .p_num {display:none}
#p_info span{line-height:150%;}
#p_info div{height:100%;}
.p_name {text-align:center}
.p_name a{font-size:12px}
.p_name a:hover{text-decoration:underline}
.p_detail{color:#999}
.p_detail b{font-weight:normal;color:#999}
.p_price b{color:#FF5E00;font-size:14px}
.p_vip{font-size:14px}
.p_vip span{color:#a00}
.p_vip b{color:#f00}
.p_link{float:left;padding-top:3px}
.p_link a{color:#000}
.p_cart{float:right;width:84px;height:21px;line-height:21px;text-align:center;}
.p_cart a{color:#fff;display:block;width:62px;height:20px;background:#007200; border:1px solid #005300; font-size:12px;}
.p_cart a:hover {color:#fff}
/*产品展示单独样式*/
#ps0 {background:url(li.gif) 2px 7px no-repeat;padding-left:20px;border-bottom:1px dashed #fff;line-height:22px;}
#ps2 #p_info,#ps2 #p_name{text-align:center;}
#ps4 #p_info div{padding-top:5px}
#ps4 #p_info .p_link{padding-left:3px;background:#007200; border:1px solid #005300;float:left;}
#ps4 #p_info .p_link a{color:#fff;display:block;padding:0 13px 0 10px;font-size:12px;line-height:1.5}
#slide_d #ps2 {width:126px;margin:5px 5px 0px 5px;}
#slide_d #p_img {width:124px;height:94px}
#slide_d #p_img a {width:120px;height:90px}
#slide_d #p_img img {width:120px}
.bx4 .p_name a {color:#fff}

#index #ps2 {width:102px;}
#index #ps2 #p_img {width:102px; height:77px;}
#index #ps2 #p_img a {width:100px; height:75px; border:1px solid #333;}
#index #ps2 #p_img img {height:75px;}

/*新闻显示样式*/
#boxNews{ width:98%; }
#title{padding-top:5px;text-align:center;font-size:18px;color:#333;font-family:宋体,Arial,sans-serif;font-weight:bold;}
#boxNews #info { text-align:center; color:#666;}
#maininfo{ padding:10px 0; font-size:14px; line-height:2;}
/*新闻列表*/
#boxNewsList li{width:100%;overflow:hidden; background:url(li.gif) 5px 4px no-repeat; line-height:260%;}
#boxNewsList li a{ padding-left:22px; margin-right:10px;}
#boxNewsList li a:hover{padding-left:22px;text-decoration:underline}
#boxNewsList li span{color:#555;font-size:11px;}
/*阅读全文*/
.sumary_list{margin-bottom:25px;}
#boxNewsList #sum_title {margin:0;padding-left:5px; font-size:14px;}
#boxNewsList #sum_title a:hover {color:#000}
#boxNewsList #sum_content {color:#888; margin-left:20px;}
#boxNewsList #sum_content a:hover {color:#000}
#boxNewsList .show_all {}
#boxNewsList .show_all a {color:#2C6499}

/*会员登陆按纽*/
#niceUserLogin { margin:4px 0 4px 4px;}/*纵向*/
#niceUserLogin .input{ width:107px;padding:1px 0 1px 2px; border:1px solid #CBCBCB;}
#niceUserLogin li{margin:1px 0px;}
.btn1,.btn3,.btn2,.btn4{width:62px;height:22px;line-height:22px;color:#fff;background:url(btn1.gif) no-repeat;font-size:12px;border:0px;text-align:center;cursor:pointer;}
#niceUserLogin .btn1,#niceUserLogin .btn2{margin-left:34px}
#UserLogin {margin:5px 0 5px 8px;}/*横向*/
#UserLogin li{float:left;vertical-align:bottom;}
#UserLogin #password{padding-left:10px;line-height:24px}
#UserLogin .input{width:78px;}

/*企业邮局*/
#ynicewebmail {margin:8px 0 8px 10px;width:85%;}/*纵向*/
#ynicewebmail #domain {padding-left:44px;}
#ynicewebmail #yuser {width:125px;}
#ynicewebmail #ypasswd {width:125px;}
#ynicewebmail #ysubmit {padding:3px 0 0 110px}
.xbt,.ybt {width:62px;height:22px;line-height:22px;color:#fff;background:url(btn1.gif) no-repeat;font-size:12px;text-align:center;border:0px;cursor:pointer;}
#xnicewebmail {width:450px; float:left;}/*横向*/
#xnicewebmail #xmail {}
#xnicewebmail #xpassword {padding-left:8px;}
/*公共邮局*/
#FrLgn{margin:8px 0 8px 10px;}
#FrLgn input{width:115px; margin:1px 0;padding:0; border:1px solid #B6B6B6;}
#FrLgn select {width:119px;}
#FrLgn .webmailx,
#FrLgn .webmaily {width:62px;height:22px;color:#fff;background:url(btn1.gif) no-repeat;border:0px; cursor:pointer;overflow:hidden}
#FrLgn .webmaily{margin:2px 0 0 105px;}/*纵向*/

/*产品搜索*/
#prodsearch {margin:5px 0 5px 10px;}
#prodsearch #pkeyword {width:120px;margin:0;padding:1px 2px;}
#psbt {width:62px;height:22px;line-height:22px;color:#fff;background:url(btn1.gif) 0 0 no-repeat;font-size:12px;border:0px;cursor:pointer;}
/*搜索*/
#searchin{ width:62px;height:20px;line-height:20px;color:#fff;background:url(btn1.gif) no-repeat;border:0px;cursor:pointer; font-weight:bold;}
#baidu input {}
#baidu .input {width:120px}
#baidu1 { padding-left:10px; }
#baidu2 { padding-left:10px; }
#google { padding-left:10px; }
#google input {}
#query,.input {width:120px;}

/*投票*/
#votetable {margin:0px 0 5px 10px;}
#votetable li {height:24px;line-height:24px;}
#votetable .vote_title {font-size:13px}
#votetable .vote_item {padding:2px 0}
#votetable .vote_item li{height:22px;line-height:22px;}
#votetable .vote_item input {vertical-align:middle;}
.vote_submit,.vote_view {width:62px;height:22px;line-height:22px;color:#fff;background:url(btn1.gif) no-repeat;font-size:12px; border:0px;cursor:pointer;}

/*留言本样式*/
#GBForm{ padding-top:20px; padding_bottom:20px; margin:0px auto;}
#GBForm td{ padding:5px 0px 5px 5px;}
#GBForm #Title{ text-align:center; font-size:14px; font-weight:bold; color:#111;}
#Welcome{ text-align:center; color:#333}
#message { width:500px;height:80px;padding:3px;}
#contact { width:300px;height:30px;padding:3px;}
#GBForm #GBbt{ color:#fff;width:108px;height:31px;background:#222 url(btn2.gif) no-repeat; font-size:12px;border:0px;cursor:pointer;}
#GBForm input {width:300px; padding:2px 4px 3px 6px; vertical-align:top; font-size:14px; font-weight:600;}
#GBForm textarea {width:500px; padding:2px 4px 3px 6px; overflow:auto;}
#GBForm #pInfo strong {color:#c00; font-weight:normal; font-size:16px;}

/*产品图*/
#show_pro {}
#show_pro #pInfo {color:#666;} /*发布时间等*/
#show_pro .pro_name { color:#222} /*产品名*/
#show_pro .pro_img {} /*产品大图*/
/*产品内容*/
#show_content {margin-bottom:10px}
/*产品预订表单*/
#show_order {width:99%;border:1px dashed #aaa; padding:5px 0 10px; clear:both}
#show_order #pInfo {}/*提交购买xx意向文字*/
#show_order input {border:1px solid #999;}
#show_order textarea {border:1px solid #999;}
/*产品信息*/
#show_detail {width:99%;margin:10px auto; float:left; clear:both;overflow:hidden;background:#FBFEE1;border:1px solid #95A007;}
#show_detail td {padding:0}
.pro_price {color:#f00} /*价格*/
.pro_num {display:none} /*不显示数量*/
.pro_new,.pro_hot {} /*是否新品、推荐*/

/* 首页图片滚动 */
#index #container .carousel div {background:#2F689F; padding:4px;}
#index #container .carousel img {padding:4px;}